@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


@font-face {
    font-family: Roobert;
    src: url(./Assets/Roobert-Regular/Roobert-Regular.ttf);
}

#bmc-iframe{
    height: 560px!important;;
    min-height: 500px!important;
}

.Roobert-font {
    font-family: Roobert;
}

::-moz-selection {
    background-color: #ffff00;
    color: black;
}

::selection {
    background-color: yellow;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
}

.hero-title {
    font-family: 'Inter', sans-serif;
}

/* text appear */
.scrollFade {
    opacity: 1;
    pointer-events: all;
}

.scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
}

.scrollFade--visible {
    opacity: 1;
    pointer-events: all;
}

.scrollFade--animate {
    transition: opacity 1.2s ease-in-out;
}

/* Scrolling Text animation ----------- */
.scrolling-text {
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    margin-top: -10rem;
}

.scrolling-text .scroll {
    width: 100%;
    display: flex;
}

.scrolling-text .scroll div {
    color: #000;
    font-size: 3.5em;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

.scrolling-text .scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: 20s;
}

.scrolling-text .scroll div span {
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scrolling-text .scroll.text1 {
    transform: rotate(0deg) translateY(200px) translateX(-200px);
    width: 100%;
}

body, .m-bg {
    font-family: sans-serif;
    background: radial-gradient(circle, #0C1221 0%, #000212 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.tasnimul{
    background-color: #ffff00;
}
 body:before,
body:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    opacity: 0.18;
}

body:before {
    box-shadow: 0 0 35vmax 35vmax #f00;
    animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
}

body:after {
    box-shadow: 0 0 35vmax 35vmax #0ff;
    animation: hue 10s 0s linear infinite, move2 20s 0s linear infinite;
}

@-moz-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@-o-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@-moz-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-webkit-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-o-keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@keyframes move1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;    }
}

@-moz-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@-webkit-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@-o-keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@keyframes move2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
} 
